body, html {
  height: 100%;
  margin: 0;
}

.wrap {
  /* min-height: 100vh; */
  width: 100%;
}

.top {
  width: 100%;
  height: 50px;
  background-color: blue;
}

.mid {
  /* height: 82.4vh !important; */
  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
}

.mid-background-color {
  background: rgb(255,239,222);
  background: radial-gradient(circle, rgba(255,239,222,1) 0%, rgba(255,236,217,1) 25%, rgba(255,233,211,1) 50%, rgba(255,231,206,1) 75%, rgba(255,228,200,1) 100%); 
}

.bottom {
  width: 100%;
  height: 50px;
  background-color: blue;
}

.container-footer{
  position: relative;
  /* width: 100% !important; */
  align-items: center;
  justify-content: center;
}

.nav {
  border-bottom: 2px solid #000000;
}

.color-nav {
  background: rgb(194,159,122);
  background: -moz-linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  background: linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c29f7a",endColorstr="#c29f7a",GradientType=1);
}

.footer {
  background: rgb(194,159,122);
  background: -moz-linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  background: linear-gradient(45deg, rgba(194,159,122,1) 0%, rgba(206,178,149,1) 25%, rgba(194,159,122,1) 50%, rgba(175,143,110,1) 75%, rgba(194,159,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c29f7a",endColorstr="#c29f7a",GradientType=1);
  height: 64px;
  border-top: 2px solid #000000;
}

.copyright{
  line-height: 62px;
}

.simpleLink:link, .simpleLink:visited, .simpleLink:hover {
  color: black;
  /* text-decoration: none; */
}

.boxing-form {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.page-title {
  padding-top: 1.5rem !important;
  margin-top: 1.5rem !important;
}

/* ----- LOGOS ----- */

.fa-facebook-square {
  background: transparent;
  color: rgb(0, 0, 0);
}

.fa-instagram {
  background: transparent;
  color: rgb(0, 0, 0);
}

.fa-github {
  background: transparent;
  color: rgb(0, 0, 0);
}

.logos:hover {
  color: rgb(41, 41, 41);
}

.artwork-feature-icon {
  background: transparent;
  color: #326475;
}

/* ----- SPINNER-ICON ----- */

#nprogress .bar {
  height: 8px !important;
  background: #326475 !important;
}

#nprogress .spinner-icon {
  width: 42px !important;
  height: 42px !important;
  border-top-color: #326475 !important;
  border-left-color: #326475 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #326475, 0 0 5px #326475 !important;
}

/* ----- HOMEPAGE ----- */

.homepage-mid {
  height: 86.5vh;
  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
  position:relative
}

.homepage-mid-2 {
  height: 80vh;
  width: 100%;
  flex:1;
  display:flex;
  flex-direction:column;
  position:relative;
}

.homepage-background-image {
  background-image: url(/home_hq_blur.jpg);
  height: 100% !important;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size:cover;
  position: relative;
}

.homepage-title {
  color: white;
  position: absolute;
  top: 12%;
  left: 5%;
}

.homepage-description {
  color: white;
  position: absolute;
  top: 40%;
  right: 3%;
  max-width: 32%;
}

.homepage-citation {
  color: white;
  letter-spacing: 3px;
  position: absolute;
  top: 72.4%;
  left: 5.5%;
}

.homepage-separator {
  height: 100px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  vertical-align:middle;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* .homepage-mid-2 .carousel {
  height: 75% !important;
  bottom: 100px !important;
} */

.homepage-mid-2 .carousel {
  width: 70% !important;
  margin: auto !important;
  margin-top: 4% !important;
}

.homepage-mid-2 .carousel .slide {
  height: 60.3vh !important;
}

.homepage-mid-2 #carousel_cards_wrapper .card-flyer:hover{
  cursor: pointer !important;
}

/* ----- ARTWORK PAGE ----- */

.artwork-page-mid {
  /* height: 82.9vh !important; */
  min-height: 83.3vh !important;
}

.artwork-page-container #carousel_cards_wrapper
.carousel .slide .card-flyer.image-box img{
  max-height: 52vh !important;
  max-width: 60vw !important;
}

.artwork-page-container .carousel {
  height: fit-content !important;
  width: 80% !important;
  margin: auto !important;
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}

.artwork-page-container .carousel .slide {
  /* height: 51.5vh !important; */
  /* height: fit-content !important; */
  /* height: 100% !important; */
  height: fit-content !important;
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.artwork-page-container #carousel_cards_wrapper {
  height: 100% !important;
}

.artwork-page-container #carousel_cards_wrapper
.carousel .slide .card-flyer.image-box .legend {
  display: none !important;
}

.artwork-page-container #carousel_cards_wrapper .card-flyer:hover{
  cursor: zoom-in !important;
}

.artwork-title-container {
  display:flex;
  align-items: center;
  justify-content: center;
  /* height: 19.3%; */
  height: fit-content;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.artwork-get-info-container {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative !important;
  height: 14%;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5vh;
  margin-bottom: 2%;
}

.artwork-left-section-carousel-container {
  min-height: 50vh !important;
  max-height: 55vh !important;
  margin-top: 5vh !important;
}

.artwork-right-section-background {
  background-color: rgb(0, 0, 0, 0.25);
}

.artwork-right-section-container {
  padding-left: 8%;
  padding-right: 8%;
}

.artwork-features-container {
  background-color: rgb(0, 0, 0, 0.25);
  color: white;
  margin-left: 18%;
  margin-right: 18%;
  padding-left: 4%;
  padding-right: 4%;
}

.artwork-description-container {
  background-color: rgb(0, 0, 0, 0.25);
  color: white;
  padding-left: 3%;
  padding-right: 3%;
  min-height: 50vh !important;
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* let the description section use the newLine char */
.artwork-description-container div {
  white-space: pre-line !important;
}

/* ----- GALLERY PAGE ----- */

.gallery-page-mid {
  /* min-height: 83.137vh !important; */
  min-height: 83.3vh !important;
}

#gallery_cards_wrapper{
  text-align: center;
}
#gallery_cards_wrapper .container-fluid{
  padding-bottom: 40px;
  padding-left: 8%;
  padding-right: 8%;
}
#gallery_cards_wrapper a{
  text-decoration: none;
  outline: none;
}
#gallery_cards_wrapper .card-flyer {
  border-radius: 5px;
}
#gallery_cards_wrapper .card-flyer .image-box{
  background: #545454;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
  height: 300px !important;
  width: 100%;
}
#gallery_cards_wrapper .card-flyer .image-box span{
  height: 300px !important;
  position: relative !important;
}
#gallery_cards_wrapper .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease;
  transition:all .9s ease;
  height: 100% !important;
  position: relative !important;
  
}
#gallery_cards_wrapper .card-flyer:hover .image-box img{
  opacity: 0.95;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.05);
  transform:scale(1.05);
}
#gallery_cards_wrapper img {
  width:100%;
  max-width:400px;
  max-height:300px;
}
#gallery_cards_wrapper .card-flyer .text-box{
  text-align: center;
}
#gallery_cards_wrapper .card-flyer .text-box .text-container{
  padding: 25px 18px;
}
#gallery_cards_wrapper .card-flyer{
  background: #755b3e;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#gallery_cards_wrapper .card-flyer:hover{
  background: #755b3e;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#gallery_cards_wrapper .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#gallery_cards_wrapper .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 18px;
  /* font-weight: bold; */
  font-style: italic;
  letter-spacing: 1px;
  color: black;
}

/* ----- SCROLLDOWN ----- */

.scrolldown {
  position: absolute;
  bottom: 0%;
  right: 6%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: animate 1.8s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

@keyframes animate {

  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }

  50%,100% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
}

/* ----- CUSTOM LINK ----- */

.custom-link {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.custom-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #4e4e4e;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.custom-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* ----- CUSTOM BUTTONS ----- */

.custom-button {
  width: fit-content !important;
  padding: 0px 10px;
  background: linear-gradient(#0000, rgb(0 0 0/14%)) top/100% 800% !important;
  transition: 0.5s !important;
  background-color: #8bcfe8 !important;
  color: black !important;
  border-color: black !important;
  border-radius: 0px !important;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.custom-button:hover {
  background-position: bottom !important;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.gallery-explorer-btn {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 6.5%;
}

.artwork-get-info-btn {
  /* left: 50%;
  transform: translateX(-50%); */
  position: absolute;
  top: 0;
  max-width: fit-content !important;
}

.about-explorer-btn {
  max-width: fit-content !important;
}

/* ----- CAROUSEL ----- */

#carousel_cards_wrapper{
  text-align: center !important;
}
#carousel_cards_wrapper .carousel {
  border-radius: 5px !important;
}
#carousel_cards_wrapper
.carousel .slide .card-flyer.image-box{
  /* background: #545454 !important; */
  overflow: hidden !important;
  margin: auto;
  /* width: 68.9vw !important; */
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50) !important; */
  /* width: 100% !important; */
}
#carousel_cards_wrapper
.carousel .slide .card-flyer.image-box img{
  /* -webkit-transition:all .9s ease !important; 
  -moz-transition:all .9s ease !important; 
  -o-transition:all .9s ease !important;
  -ms-transition:all .9s ease !important;
  transition:all .9s ease !important; */
  height: 100% !important;
  position: relative !important;
  border-radius: 5px !important;
}
#carousel_cards_wrapper
.carousel .slide .card-flyer.image-box{
  position: relative !important;
}
#carousel_cards_wrapper
.carousel .slide .card-flyer:hover.image-box img{
  /* opacity: 0.95 !important;
  -webkit-transform:scale(1.08) !important;
  -moz-transform:scale(1.08) !important;
  -ms-transform:scale(1.08) !important;
  -o-transform:scale(1.08) !important;
  transform:scale(1.08) !important; */
  cursor: pointer !important;
}
#carousel_cards_wrapper .carousel{
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40) !important;
  -webkit-transition: all 0.2s ease-in !important;
  -moz-transition: all 0.2s ease-in !important;
  -ms-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  transition: all 0.2s ease-in !important;
  background: rgba(0, 0, 0, 0.25) !important;
}
#carousel_cards_wrapper .carousel:hover{
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50) !important;
  -webkit-transition: all 0.2s ease-in !important;
  -moz-transition: all 0.2s ease-in !important;
  -ms-transition: all 0.2s ease-in !important;
  -o-transition: all 0.2s ease-in !important;
  transition: all 0.2s ease-in !important;
}

/* NOTE: see homepage and artwork-page for height and bottom */
/* .carousel {
  width: 80% !important;
  position: absolute !important;
  margin: auto !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
} */

/* NOTE: see homepage and artwork-page for height */
/* .carousel .slide {
  background: rgba(0, 0, 0, 0.25) !important;
} */

.carousel .slide div {
  height: 100%;
}

/* ----- FONTS ----- */

button.custom-button {
  font-family: 'Lora', serif;
  font-weight: 400;
}

h1, h6 a.nav-link {
  font-family: 'Lora', serif;
  font-weight: 600;
}

.homepage-title h1 {
  font-size: 5em;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h1.homepage-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
}

.homepage-citation {
  font-size: 1.4em;
}

.homepage-description {
  letter-spacing: 1.4px;
  font-size: 1.1em;
}

/* ----- MEDIA QUERY ----- */

@media(max-width:960px){
  .hide-under-half-width{
    display: none !important;
  }
  .center-under-half-width{
    text-align: center;
    top: 35%;
    left: 54% !important;
    transform: translateX(-50%);
  }
  .center-about-explorer-btn-under-half-width {
    top: 77%;
    left: 52.5% !important;
    transform: translateX(-50%);
  }
}

@media(max-width:395px){
  .gallery-explorer-btn {
    bottom: 4% !important;
  }
}

@media(max-width:500px){
  .artwork-features-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-height:870px){
  .page-title {
    padding-top: 0.85rem !important;
    margin-top: 0.85rem !important;
  }

  #gallery_cards_wrapper .card-flyer{
    margin-top: 25px;
  }
}

@media (max-width: 1000px) {
  .bigScreen {
    display:none;
  }
  .smallScreen {
    display:block;
  }
}

@media (min-width: 1001px) {
  .bigScreen {
    display:block;
  }
  .smallScreen {
    display:none;
  }
}

@media (max-width: 1199px) {
  .artwork-right-section-background {
    border-top: 2px solid #000000;
  }
}